# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Parcel-bundler cache (if used)
.cache

# Next.js build output
.next

# Build output
dist/
build/

# Coverage directory used by testing tools
coverage/

# Debugger configurations
.vscode/
.idea/

# MacOS system files
.DS_Store

# Linux system files
*.swp
